body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(270deg, #f40303, #3333ff, #00ffff, #ed0505);
    background-size: 800% 800%;
    animation: gradientMove 10s ease infinite;
}